.btn {
  display: inline-block;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;

  &--large {
    padding: 1.25rem;
    height: 54px;
    font-size: 0.874rem;
  }

  &--med {
    padding: 0 55px;
    height: 40px;
    line-height: 40px;
    font-size: 0.875rem;
  }

  &--small {
    padding: 0 1.25rem;
    font-size: 0.875rem;
    text-align: center;
    height: 30px;
    line-height: 30px;
  }

  &--blue {
    background-color: $blue;
    color: white;
  }

  &--green {
    background-color: $green;
    color: white;
  }

  &--orange {
    background-color: $orange;
    color: white;
  }

  &--grey {
    background-color: $grey-btn;
    color: white;
  }

  &__icons {
    display: inline-block;
    position: relative;
    bottom: 2px;
    margin-left: -2px;
    padding-right: 10px;
    font-size: 20px;
    vertical-align: -30%;
    color: $yellow;
  }
}
