*[data-collapse] {
  & > *:first-child {
    cursor: pointer;
    border-bottom: 1px solid;
    border-color: transparent;
    transition-property: max-height, border-color, padding;
    transition-duration: 0.5s;
    transition-timing-function: ease;

    &+* {
      /*SLIDE EFFECT*/
      overflow: hidden;
      max-height: 0;
      transition-property: max-height;
      transition-duration: 0.5s;
      transition-timing-function: ease;

      & > .collapse__container {
        padding: 15px 0;
      }
    }
  }

  &.collapse--is-open {
    & > *:first-child {
      border-color: $grey-light;

      span.icon {
        transform: rotate(90deg);
      }
    }
  }
}
