.flexbox {
  &--space-around {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &+& {
      margin-top: 40px;
    }
  }

  &--space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &+& {
      margin-top: 40px;
    }
  }

  &--start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    &+& {
      margin-top: 40px;
    }
  }

  &--end {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &+& {
      margin-top: 40px;
    }
  }
}
