$shadow-inset: inset 0 1px 1px 0 rgba(0, 0, 0, 0.3);
@function shadow-focus($color) {
   @return 0 0 5px 0 rgba($color, .75)
}

.input-group {
  &--fb-col-spread {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;

    .input-group__input+.input-group__input {
      margin-top: 12px;
    }
  }

  &--checkbox {
    white-space: nowrap;
  }

  &--fb-row-spread {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & > * {
      flex-basis: 100%;

      &:nth-child(2) {
        margin-top: 10px;
      }
    }
    @include atSm {
      & > * {
        flex-basis: auto;
      }

      & > *:nth-child(2) {
        margin-top: 0;
      }
    }
  }

  &--col-4,
  &--col-6 {
    & > .input-group,
    & > .input-group__input {
      flex: 0 0 100%;
      flex-wrap: wrap;
      min-width: 0;

      &:not(:first-child) {
        margin-top: 15px;
      }
    }
  }
  @include atSm {
    &--col-4,
    &--col-6 {
      & > .input-group,
      & > .input-group__input {
        &:not(:first-child) {
          margin-top: 0;
        }
      }
    }

    &--col-4 {
      & > .input-group,
      & > .input-group__input {
        flex: 0 0 30.4%;
      }
    }

    &--col-6 {
      & > .input-group,
      & > .input-group__input {
        flex: 0 0 47%;
      }
    }
  }

  &+& {
    margin-top: 15px;
    @include atSm {
      &--margin-top-30 {
        margin-top: 30px;
      }
    }
  }

  &__input,
  &__text-area {
    border-radius: $global-border-radius;
    text-align: left;
    transition: box-shadow 0.35s ease;

    &:focus {
      outline: none;
    }

    &--dark-bg {
      background-color: rgba(240, 246, 253, 0);
      background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
      background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
      background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
      background: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
      box-shadow: $shadow-inset;
      color: white;
    }

    &--light-bg {
      background-color: rgba(240, 246, 253, 0);
      background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
      background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
      background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
      background: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
      box-shadow: $shadow-inset;
      color: $grey-font;
    }

    &--br-green {
      border: 1px solid $green;

      &:focus {
        box-shadow: $shadow-inset, shadow-focus($green);
      }
    }
  }

  &__input {
    padding: 0 0.625rem;

    &--med {
      height: 37px;
      width: 100%;
      font-size: 0.875rem;
    }

    &--small {
      width: 190px;
      height: 30px;
      font-size: 0.875rem;
    }
  }

  &__text-area {
    width: 100%;
    resize: vertical;
    padding: 0.625rem;
  }

  &__checkbox {
    color: $grey-input;
    cursor: pointer;

    input {
      vertical-align: middle;
    }

    &+& {
      padding-left: 10px;
    }
  }

  &__input+&__btn {
    vertical-align: bottom;
    margin-top: 5px;
  }

  .card--blue &__input,
  .card--blue &__text-area,
  .list--blue &__input,
  .list--blue &__text-area {
    border: 1px solid $blue;

    &:focus {
      box-shadow: $shadow-inset, shadow-focus($blue);
    }
  }

  .card--green &__input,
  .card--green &__text-area,
  .list--green &__input,
  .list--green &__text-area {
    border: 1px solid $green;

    &:focus {
      box-shadow: $shadow-inset, shadow-focus($green);
    }
  }

  .card--orange &__input,
  .card--orange &__text-area,
  .list--orange &__input,
  .list--orange &__text-area {
    border: 1px solid $orange;

    &:focus {
      box-shadow: $shadow-inset, shadow-focus($orange);
    }
  }
}
