#blackout {
  // Ces 6 lignes nous assurent un affichage en plein-ecran, au dessus du reste
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0,0,0,0.9);
  text-align: center;
  // Cette ligne nous permet de mettre un curseur en croix, pour
  // simplifier la comprehension.
  cursor: url('http://www.rouvre.com/themes/default/images/cursor-close.png'), crosshair;

  .title {
    width: 100%;
    height: 20px;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    color: white;
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
  }
  // Notre image
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
