.modal{
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-out;
  &:after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-color: rgba(0,0,0,.5);
  }
  &__panel{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.75);
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  @include clearfix;
  &--is-visible{
    opacity: 1;
    visibility: visible;
  }
  &__img, &__video{
    width: 100%;
    text-align: center;
    img, iframe{display: inline-block;}
  }
  @include atMedium{
    &__video{
      position: relative;
    }
  }
  &__description{
    font-size: 1rem;
    font-weight: 300;
    color: white;
    padding: 0 0 20px;
    table{
      padding: 5px 0;
      text-align: left;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      th, td:nth-child(2){color: $green; font-weight: 600;}
      td:nth-child(2){text-align: right;}
      td{
        padding: 5px 0;
        font-size: .875rem; vertical-align: top;
      }
    }
    @include atMedium{
      padding: 20px 0;
    }
  }
  &__close{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.25rem;
    font-weight: 600;
    color:white;
    cursor: pointer;
    &:hover{
      color: $green;
    }
  }
  &--availability-check{
    .modal__panel{
      width: 100%;
      max-width: 480px;
      min-width: 320px;
      margin: 0 auto;
      padding: 20px 20px 25px;
    }
    .modal__inner{
      text-align: center;
    }
    .modal__description{
      padding: 0;
    }
  }
  &--sat{
    .modal__panel{
      max-width: 1020px;
      @include atMedium{
        padding: 0 50px;
      }
    }
    .modal__img{
      text-align: center;
      @include atMedium{
        transform: translateY(48%);
      }
    }
    .modal__buttons-set{
      text-align:center;
      margin-top: 20px;
      .btn{margin-top: 10px;}
      @include atMedium{
        text-align: right;
        .btn{margin-top: 0;}
      }
    }
  }
}
