.row {
  /*Container de ligne*/
  @include viewport(min, $min: 1230px){
    margin-left: -($gridGutterWidth/2);
    margin-right: -($gridGutterWidth/2);
  }
  @include clearfix;
  .page-section .wrapper &:not(:first-child){
    margin-top: 20px;
  }
  &--no-offset, .row{
    margin: 0 !important;
  }
  @include atSmall{
    &--gutters div[class^="row__"]{
      padding-right: 20px;
    }
    &--gutters {
      margin-right: -20px;
    }
  }
  @include atLarge{
    .page-section .wrapper &:not(:first-child){
      margin-top: 40px;
    }
    &--gutters div[class^="row__"]{
      padding-right: 30px;
    }
    &--gutters {
      margin-right: -30px;
    }
  }
  &--relative{position: relative;}
  &--align-center{
    text-align: center;
  }
  &--gutters-large {
    margin-right: -65px;
  }
  &--gutters-large div[class^="row__"]{
    padding-right: 65px;
  }
  &--gutters-small div[class^="row__"]{
    padding-right: 45px;
  }
&--gutters-xl{margin-right: -115px;}
&--gutters-xl div[class^="row__"]{
  padding-right: 115px;
}
  &__b-margin{
    margin-bottom: 1rem;
  }
  &__b-margin-custom{
    margin-bottom: attr(data-b-margin);
  }
  &__b-margin-util-medium {
    margin-bottom: 1rem;
  }
  &--t-padding {
    padding-top: 80px;
  }
  &--gutters-small {
    margin-right: -45px;
  }
  &--containers-relative{
    &>div{position: relative;}
  }
  @include atSmall {
    &__small-3 {
      float: left;
      width: 25%;
    }
    &__small-4 {
      float: left;
      width: 33.33%;
      &--larger {
        width: 37%;
      }
    }
    &__small-6 {
      float: left;
      width: 50%;
    }
    &__small-8 {
      float: left;
      width: 66.66%;
      &--smaller {
        width: 63%;
      }
    }
    &__small-9 {
      float: left;
      width: 75%;
    }
    &__b-margin-util-small {
      margin-bottom: 0;
    }
    &__small-pull-right{
      float: right;
    }
  }
  @include atMedium {
    &__medium-3 {
      float: left;
      width: 25%;
    }
    &__medium-4 {
      float: left;
      width: 33.33%;
      &--larger {
        width: 37%;
      }
    }
    &__medium-6 {
      float: left;
      width: 50%;
    }
    &__medium-8 {
      float: left;
      width: 66.66%;
      &--smaller {
        width: 63%;
      }
    }
    &__medium-9 {
      float: left;
      width: 75%;
    }
    &__b-margin-util-medium {
      margin-bottom: 0;
    }
    &__medium-pull-right{
      float: right;
    }
    .flexbox &--equal-height-at-medium {
      display: flex;
      & div[class^="row__"]{
        float: none;
        display: flex;
        &.flex-direction-column{flex-direction: column;}
        &.flex-vertical-align{justify-content: space-around;}
      }
    }
  }
  @include atLarge {
    &__large-3 {
      float: left;
      width: 25%;
    }
    &__large-4 {
      float: left;
      width: 33.33%;
      &--larger {
        width: 37%;
      }
    }
    &__large-6 {
      float: left;
      width: 50%;
    }
    &__large-8 {
      float: left;
      width: 66.66%;
      &--smaller {
        width: 63%;
      }
    }
    &__large-9 {
      float: left;
      width: 75%;
    }
    &__b-margin-util-large {
      margin-bottom: 0;
    }
    &__large-pull-right{
      float: right;
    }
    .flexbox &--equal-height-at-large {
      display: flex;
      & div[class^="row__"]{
        float: none;
        display: flex;
      }
    }
  }
  &--is-disabled{
    opacity: 0.3;
    a, button, input{
      pointer-events: none;
      cursor: default;
    }
  }
}

.clearfix{
  @include clearfix;
}

.flexbox{
  .flex-row{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    &--left-align{
      align-items: flex-start !important;
    }
    &>*:not(:last-child){margin-bottom: 10px;}
    @include atMedium{
      &:not(.flex-row--column-flow){
        flex-flow: row;
        &>*:not(:last-child){margin-bottom: 0;}
      }
    }
  }

  .flex-item{
    &--end{
      align-self: flex-end;
    }
  }
}
