.wrapper {
  padding-left: $gridGutterWidth;
  padding-right: $gridGutterWidth;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;

  &--narrow {
    max-width: 470px;
  }

  &--medium {
    max-width: 976px;
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  &--relative {
    position: relative;
  }
}
